.about{
    background-image: url("C:\Users\Saif Eddine\Desktop\ecommerce-main\T_souk_Ecommerce_Frontend\src\img\About.jpg");
    background-color: aliceblue;
    background-size: 100% 100%;
    width: 80%;
    
}